.blog-layout
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 3.75rem
    &__btn
        margin-top: 2.75rem
    
.article
    box-shadow: $box-shadow
    background-color: $white
    margin-bottom: 2rem
    border: 1px solid $border-color
    min-height: 320px
    transition: box-shadow .3s ease-in-out
    +q(900)
        display: flex
    &__img
        padding: 1rem
        overflow: hidden
        +q(900)
            flex: 1.5
            padding: 0
        +q(1000)
            flex: 1
    &__content
        padding: 1rem
        +q(900)
            flex: 2
    &__title
        text-transform: uppercase
        font-weight: bold
        font-size: 1.375rem
    &__text
        margin-bottom: .75rem
        color: $gray-3
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
    &__link
        display: block
        height: 0
        padding-bottom: 61%
        background-repeat: no-repeat
        background-size: cover
        background-color: $gray-5
        transition: transform .3s
        will-change: transform
        +q(900)
            padding-bottom: 100%
            background-position: right top
            height: 100%
            padding-bottom: 0
    &__link:hover
        +q(900)
            transform: scale(1.1)
    &__info
        order: -1
        width: 100%
        margin-bottom: 1rem
        display: flex
        justify-content: space-around
        +q(600)
            margin-left: auto
            align-self: center
            width: auto
            order: 1
            align-self: center
            margin-bottom: 0
    &__content-item
        margin-bottom: 1rem
    &__content-item:last-child
        margin-bottom: 0
    .btn
        padding-left: 3rem
        padding-right: 3rem
        width: 100%
        +q(600)
            width: auto

.article:hover
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .3)
    

.tags
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    margin-bottom: 1.75rem
    +q(900)
        margin-bottom: 3.75rem
    &__item
        margin-right: 20px
        margin-bottom: 10px

.tag
    color: $white
    text-transform: uppercase
    font-size: .875rem
    padding: .5em 1.75em
    display: inline-block
    border: $border-width solid $yellow
    color: $base-font-color
    font-weight: 700
    
.tag--active
    background-color: $yellow
    text-decoration: none
    color: $white

.tag--lg
    padding: .625rem 1.75rem

.tag:hover
    text-decoration: none

.date, .view
    padding-left: 35px
    background-size: 15px

.date
    background: transparent url('../img/date.svg') 10px center no-repeat

.view
    background: transparent url('../img/view.svg') 5px center no-repeat
   
