.blog-layout
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 3.75rem
    &__btn
        margin-top: 2.75rem
    
.article
    box-shadow: $box-shadow
    margin-bottom: 2rem
    border: 1px solid $border-color
    min-height: 320px
    +q(900)
        display: flex
    &__img
        padding: 1rem
        +q(900)
            flex: 1.5
            padding: 0
        +q(1000)
            flex: 1
    &__content
        padding: 1rem
        +q(900)
            flex: 2
    &__title
        text-transform: uppercase
        font-weight: bold
        font-size: 1.375rem
    &__text
        margin-bottom: .75rem
        color: $gray-3
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical; 
        overflow: hidden
    &__link
        display: block
        height: 0
        padding-bottom: 61%
        background-repeat: no-repeat
        background-size: cover
        +q(900)
            padding-bottom: 100%
            background-position: right top
            height: 100%
            padding-bottom: 0
    &__info
        margin-left: auto
        align-self: center
    &__content-item
        margin-bottom: 1rem
    &__content-item:last-child
        margin-bottom: 0
    .btn
        padding-left: 3rem
        padding-right: 3rem
    

.tags
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    margin-bottom: 3.125rem
    &__item
        margin-right: 20px
        margin-bottom: 10px

.tag
    color: $white
    text-transform: uppercase
    font-size: .875rem
    padding: .5em 1.75em
    display: inline-block
    border: $border-width solid $yellow
    color: $base-font-color
    font-weight: 700
    
.tag--active
    background-color: $yellow
    text-decoration: none
    color: $white

.tag--lg
    padding: .625rem 1.75rem

.tag:hover
    text-decoration: none

.date, .view
    padding-left: 35px
    background-size: 15px

.date
    background: transparent url('../img/date.svg') 10px center no-repeat

.view
    background: transparent url('../img/view.svg') 5px center no-repeat
   
