.app
    max-width: 430px
    margin: 0 auto
    text-align: center
    color: #fff
    &__header
        margin-bottom: 2rem
        .btn
            margin-bottom: 1rem
    &__body
        margin-bottom: 2rem
    &__text
        font-size: 2rem
        text-shadow: 1px 1px 3px #333
        font-weight: 700
    &__footer
        display: flex
        justify-content: space-between

        
    