.modal
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1050
    display: none
    overflow: hidden
    outline: 0
    z-index: 1070

.modal-overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1040
    background-color: #000
    opacity: .75
    
.modal-dialog
    max-width: 465px
    min-height: calc(100% - (1.75rem * 2))
    display: flex
    align-items: center
    margin: auto

.modal-dialog .btn--close
    position: absolute
    right: 5px
    top: 5px
    transform: translate(0, 0)
    width: 30px
    height: 30px
    +q(600)
        transform: translate(100%, -100%)
        width: 40px
        height: 40px
    &:after, &:before
        background-color: $base-font-color
        +q(600)
            background-color: $border-color
    
.modal-content
    background-color: $white
    box-shadow: $box-shadow
    padding: 1rem
    position: relative
    margin: 1rem
    +q(900)
        padding: 3.25rem

.modal-header
    text-align: center
    margin-bottom: 2rem
    &__title
        font-size: 1.5rem
        font-weight: bold
        text-align: center
        text-transform: uppercase
        +q(900)
            font-size: 2.5rem
    &__text
        font-size: 1rem
        display: inline-block

.modal-footer
    margin-top: 3rem


.modal-open
    overflow: hidden

.modal-open .modal 
    overflow-x: hidden
    overflow-y: auto

.modal-body
    position: relative

.invalid-feedback
    position: absolute
    bottom: 0
    left: 0
    font-weight: bold
    font-size: .875rem
    color: $yellow
    transform: translateY(110%)
    display: none

.modal input[type="email"].not-valid ~ .invalid-feedback
    display: block


    