.grid
    min-height: 100vh

.grid-item
    will-change: left, top, transfrom, opacity

.progress-bar
    padding: 50px 0
    margin-bottom: 1.75rem
    +q(900)
        display: flex
        align-items: center
    // +q(900)
    //     margin-bottom: 3.75rem
    &__row
        +q(900)
            display: flex
            flex: 1
            justify-content: space-between
        position: relative
    &__row:before
        position: absolute
        content: ''
        height: 0
        background-color: $yellow
        border: 4px solid $yellow
        top: 0
        bottom: 0
        left: 10px
        right: 10px
        margin: auto
        z-index: -2
    &__item
        padding: 100px 0
        +q(900)
            flex: 1
        // justify-content: flex-end
        position: relative
        // display: flex
    &__item:last-child
        +q(900)
            flex: 0
    &__item.is-active ~ .progress-bar__item .progress-bar__btn
        background-color: $gray-6
        border-color: $gray-6
    &__item.is-active ~ .progress-bar__item .progress-bar__btn:after
        border-color: $gray-6
    &__item.is-active:before
        position: absolute
        top: 0
        bottom: 0
        right: -2px
        z-index: 10
        content: ''
        width: 100%
        margin: auto
        height: 0
        background-color: $gray-5
        border: 5px solid $gray-5
        z-index: -1
    &__item.is-active ~ .progress-bar__item:before
        position: absolute
        top: 0
        bottom: 0
        right: -2px
        z-index: 10
        content: ''
        width: 100%
        margin: auto
        height: 0
        background-color: $gray-5
        border: 5px solid $gray-5
        z-index: -1
        +q(1200)
            border: 4px solid $gray-5
    &__item:last-child
        .progress-bar__date, .progress-bar__event
            +q(900)
                transform: translateX(calc(-100% + 24px))
    &__item:first-child
        .progress-bar__date, .progress-bar__event
            +q(900)
                transform: none
    &__btn
        width: 24px
        height: 24px
        border-radius: 50%
        background-color: $bg-dark
        position: relative
        border: 2px solid $bg-dark
        +qmax(900)
            // visibility: hidden
    &__btn:after
        position: absolute
        content: ''
        border: 2px solid $bg-dark
        left: -50%
        top: -50%
        margin: auto
        border-radius: 50%
        width: 40px
        height: 40px
        transform: scale(0)
        transition: transform .3s cubic-bezier(0.09, 0.26, 0.52, 1.95)
    &__btn.is-checked:after
        transform: scale(1)
    &__event
        position: absolute
        left: 0
        bottom: 70%
        $color: $base-font-color
        font-size: .875rem
        font-weight: bold
        max-width: 90px
        +q(900)
            transform: translateX(-25%)
        +qmax(900)
            transform: translateX(-25%)
            visibility: hidden
    &__date
        position: absolute
        left: 0
        // transform: translateX(calc(100% - 24px))
        top: 70%
        font-weight: bold
        font-size: 0.875rem
        color: $disable-color
        +q(900)
            transform: translateX(-25%)
        +qmax(900)
            transform: translateX(-25%)
            visibility: hidden
    &__btn.is-checked 
        visibility: visible
    &__btn.is-checked ~ .progress-bar__date
        visibility: visible
    &__btn.is-checked ~ .progress-bar__event
        visibility: visible

.progress-bar .btn.prev,
.progress-bar .btn.next
    display: none
    
     
.grid-item
    margin-bottom: 30px

.grid-item,
.grid-sizer 
    width: 100%
    +q(600)
        width: 48%
    +q(1000)
        width: 32%

.gutter-sizer
    width: 2%

    

.card
    background-color: #fff
    box-shadow: 0px 3px 6px 0px rgba(0, 11, 10, 0.05)
    transition: box-shadow .3s ease-in-out
    &__header
        padding-bottom: 1rem
        padding-top: 2rem
    &__header-text
        display: inline-block
        width: 72%
        padding: 0 1.875rem
        background-color: #faac03
        color: #fff
        font-size: .875rem
        font-weight: 700
        text-transform: uppercase
    &__body
        padding: 1.5rem 1.875rem
        padding-top: 0
    &__body-title
        color: #333333
        font-weight: 700
        font-size: 1.375rem
        text-transform: uppercase
        margin-bottom: 1rem
    &__body-text
        color: #868686
        font-weight: 300
        font-size: 1rem

.card:hover
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3)

.grid-item.done
    .card__header-text
        background-color: #aaa