--- 
title: Article page 
--- 
{% extends "layouts/_layout.html" %} 

{% block content %}
<section class="blog">
  <div class="container container--small">
    <h1 class="page-title">
      <span class="page-title__text">BEGINNING OF THE CLOSED TESTING OF THE GAME WITH SUBSCRIBERS. START OF THE EARLY ACCESS GOOGLE.</span>
      <span class="page-title__bg">Article</span>
    </h1>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="index.php">Main</a>
            </li>
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="blog.php">Blog</a>
            </li>
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="#">Beginning of the Beginning of the Beginning of the Beginning of theBeginning of the</a>
            </li>
        </ul>
    </nav>
    <div class="art-item">
      <div class="art-item__img">
        <img src="img/article.jpg" alt="Article">
      </div>
      <div class="art-item__info">
          <span class="tag tag--lg tag--active">Stay Alive</span>
          <span class="date">30.04.2018</span>
          <span class="view">1000</span>
      </div>
      <div class="art-item__body">
        <p>
          <strong>Quite soon our team will send out letters to everyone who registered for the closed testing Stay Alive with link
            to downloading the project for testing.</strong>
        </p>
        <p>The project is not ready for release yet and it will be possible to test the only basic mechanics of the game, but
          we need your help right now - maybe we are missing something, maybe something is not working as it should, and
          in general, we want to hear your opinions.
          <strong>
            <em>Who haven’t signed up by this time - that’s the registration link &gt;&gt;&gt;
              <a href="https://goo.gl/HYKTb1">https://goo.gl/HYKTb1</a>. Invite your friends and help us make a great game!</em>
          </strong>
        </p>
          <img src="img/article.jpg" alt="chooseyourpersonality.png">

        <p>In the past two months, we have worked hard on the recast of the architecture of our game, with what it was necessary
          to rewrite most part of the code. Almost 70% of the code we threw out, what was a stress for us because it’s a
          5 months of our work. As a result, the game was transformed, we optimized fps, it became easier to work with bugs
          and fix them.</p>
        <p>
          <strong>
            <em>Running now closed testing, we will catch and edit the bugs, at the same time we will bring the project to readiness
              for release in Early Access Google Play.</em>
          </strong> The whole team work hard with maximum effort. Still we have a lot of work, because the game should be almost completed
          in a month later. Yes, early access gives us the right to further development, but still in open testing we need
          to go out with your high held head .</p>
        <p>In a month our game should be transformed. We will add one of the main components of the game -
          <em>
            <strong>the plot and story quests</strong>
          </em>, because our original idea was to diversify the single-type gameplay of the sandbox, the plot line - to give the
          player a goal in the game, but not to force him to go through the plot line. This is at the discretion of everyone
          - some can just survive and craft, others may get pleasure of passing our tasks.</p>
        <p>In addition, the game will have feature -
          <em>
            <strong>mini-games</strong>
          </em>, with which every player can earn free cool staff and diversify their sessions in the game. We will balance the
          game by using your help, add new locations and animals, diversify daily quests, add premium weapons and possibly
          will add into the game assistants - friendly animals that will be true friends of your character in the game.</p>
          <img src="img/article.jpg" alt="mainreward.png">
        <p>In the further development plans -
          <em>
            <strong>to add a cooperative mod</strong>
          </em>, when you will be able to play the game together with your friends. In the plans are also a revision of the construction
          in the game ... but this is another story, a story after Early Access. And all these changes in the game will be
          seen by those who registered for closed testing, with each update the game will change and improve until the release.</p>
        <p>
          <strong>
            <em>What’s about the release of Early Access Google, why we decided to publish the game there and without a publisher?</em>
          </strong>
          The only reason is to get the initial statistics of the game, which will help us to manage our monetization system
          and show these indicators to our partners. Google introduced this opportunity for indie developers who can not
          afford to spend Soft Launch, investing at least 20-30k US dollars in the marketing of the first release. It's also
          a great opportunity to get a lot of feedback from real players for free.</p>
        <ul>
            <li>Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam, consequuntur aspernatur quasi ullam maiores unde error reiciendis fugiat nisi.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum.</li>
        </ul>

        <blockquote>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, obcaecati? Mollitia ipsam deserunt minima illum ab nostrum nobis autem tempora?
        </blockquote>
       
        <p>
          <strong>Another interesting fact about Early Access is the possibility to ask Google for the featuring of the game in the
            early access section, and if we are lucky, a very large audience of players will be able to recognize us, which
            will be a huge plus in negotiations with publishers, or maybe we'll decide to move on without them ... Just wish
            us patience and good luck! We work and believe that we will be successful.</strong>
        </p>

        <div class="slider">
            <div class="slider-for">
                <div class="slider__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
            </div>
            <div class="slider-nav">
                <div class="slider-nav__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="slider-for">
                <div class="slider__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
            </div>
            <div class="slider-nav">
                <div class="slider-nav__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_1.jpg" alt="mainreward.png">
                </div>
                <div class="slider-nav__item">
                    <img src="img/article_2.jpg" alt="mainreward.png">
                </div>
            </div>
        </div>
     
      </div>
    </div>
  </div>
  <div class="related-posts">
    <div class="container">
      <h2 class="related-posts__title">Read also</h2>
      <div class="related-posts__wrap">
        <div class="related-posts__item">
            <article class="article article--related">
                <div class="article__img">
                    <a class="article__link" href="article.html" style="background-image: url('img/article.jpg')">
                    </a>
                </div>
                <div class="article__content">
                    <div class="article__content-item">
                        <strong class="tag tag--active">Stay Alive</strong>
                    </div>
                    <div class="article__content-item">
                        <h2 class="article__title">Beginning of the closed testing of the game with subscribers. Start of the Early Access Google.</h2>
                    </div>
                    <div class="article__content-item">
                        <p class="article__text">Quite soon our team will send out letters to everyone who registered for the closed testing Stay Alive with link to downloading the project for testing.</p>
                        <p class="article__text">Совсем скоро наша команда будет рассылать письма всем, кто регистрировался на закрытое тестирование Stay Alive, со ссылкой на скачивание проекта для тестирования.</p>
                    </div>
                    <div class="article__content-item row">
                        <a class="btn btn--transition btn--light" href="#">Read Article</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="related-posts__item">
            <article class="article article--related">
                <div class="article__img">
                    <a class="article__link" href="article.html" style="background-image: url('img/article.jpg')">
                    </a>
                </div>
                <div class="article__content">
                    <div class="article__content-item">
                        <strong class="tag tag--active">Stay Alive</strong>
                    </div>
                    <div class="article__content-item">
                        <h2 class="article__title">Beginning of the closed testing of the game with subscribers. Start of the Early Access Google.</h2>
                    </div>
                    <div class="article__content-item">
                        <p class="article__text">Quite soon our team will send out letters to everyone who registered for the closed testing Stay Alive with link to downloading the project for testing.</p>
                        <p class="article__text">Совсем скоро наша команда будет рассылать письма всем, кто регистрировался на закрытое тестирование Stay Alive, со ссылкой на скачивание проекта для тестирования.</p>
                    </div>
                    <div class="article__content-item row">
                        <a class="btn btn--transition btn--light" href="#">Read Article</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="related-posts__item">
            <article class="article article--related">
                <div class="article__img">
                    <a class="article__link" href="article.html" style="background-image: url('img/article.jpg')">
                    </a>
                </div>
                <div class="article__content">
                    <div class="article__content-item">
                        <strong class="tag tag--active">Stay Alive</strong>
                    </div>
                    <div class="article__content-item">
                        <h2 class="article__title">Beginning of the closed testing of the game with subscribers. Start of the Early Access Google.</h2>
                    </div>
                    <div class="article__content-item">
                        <p class="article__text">Quite soon our team will send out letters to everyone who registered for the closed testing Stay Alive with link to downloading the project for testing.</p>
                        <p class="article__text">Совсем скоро наша команда будет рассылать письма всем, кто регистрировался на закрытое тестирование Stay Alive, со ссылкой на скачивание проекта для тестирования.</p>
                    </div>
                    <div class="article__content-item row">
                        <a class="btn btn--transition btn--light" href="#">Read Article</a>
                    </div>
                </div>
            </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
