---
title: Blog page
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <section class="blog">
        <div class="container">
            <h3 class="section-title roadmap-title">ROADMAP</h3>
            <div class="blog-layout">
                <article class="article">
                    <div class="article__img">
                        <a class="article__link" href="#" style="background-image: url('img/article.jpg')">
                        </a>
                    </div>
                    <div class="article__content">
                        <div class="article__content-item">
                            <strong class="tag">Stay Alive</strong>
                        </div>
                        <div class="article__content-item">
                            <h2 class="article__title">Beginning of the closed testing of the game with subscribers. Start of the Early Access Google.</h2>
                        </div>
                        <div class="article__content-item">
                            <p class="article__text">Quite soon our team will send out letters to everyone who registered for the closed testing Stay Alive with link to downloading the project for testing.</p>
                            <p class="article__text">Совсем скоро наша команда будет рассылать письма всем, кто регистрировался на закрытое тестирование Stay Alive, со ссылкой на скачивание проекта для тестирования.</p>
                        </div>
                        <div class="article__content-item row">
                            <a class="btn btn--transition btn--light" href="#">Read Article</a>
                            <div class="article__info">
                                <span class="date">30.04.2018</span>
                                <span class="view">1000</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__img">
                        <a class="article__link" href="#" style="background-image: url('img/article.jpg')">
                        </a>
                    </div>
                    <div class="article__content">
                        <div class="article__content-item">
                            <strong class="tag">Stay Alive</strong>
                        </div>
                        <div class="article__content-item">
                            <h2>Beginning of the closed testing of the game with subscribers. Start of the Early Access Google.</h2>
                        </div>
                        <div class="article__content-item">
                            <p>Quite soon our team will send out letters to everyone who registered for the closed testing Stay Alive with link to downloading the project for testing.</p>
                            <p>Совсем скоро наша команда будет рассылать письма всем, кто регистрировался на закрытое тестирование Stay Alive, со ссылкой на скачивание проекта для тестирования.</p>
                        </div>
                        <div class="article__content-item">
                            <a class="btn btn--transition btn--light" href="#">Read Article</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>


{% endblock %}


