$white:     #fff;
$gray-3:    #f1f1f1;
$gray-2:    #efefef;
$gray-3:    #868686;
$gray-4:    #333;
$black:     #000;
$yellow:    #faac09;


$base-font-color: $gray-4;
$base-font-family: "Roboto", Sans-Serif;
$base-font-size: 1rem;
$base-line-height: 1.4;


$bg-main: $white;
$bg-dark: $gray-4;
$bg-transparent: transparent;

$border-color: $gray-2;
$border-width: 2px;

$link-color: $yellow;

$box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);


