<footer class="main-footer">
    <div class="container">
        <div class="main-footer__wrap">
            <div class="main-footer-item">
                <button id="modal-btn" class="btn btn--transition btn--dark" type="button">Leave Message</button>
            </div>
            <div class="main-footer-item">
                <div class="contacts">
                    <div class="contacts__item">
                        <div class="contact">
                            <b class="contact__title">Skype:</b>
                            <span class="contact__text">craftdevelop</span>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contact">
                            <b class="contact__title">Viber/WhatsApp:</b>
                            <span class="contact__text">+38 (097) 838-35-35</span>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contact">
                            <b class="contact__title">E-mail:</b>
                            <span class="contact__text">info.craftdevelop@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer-item main-footer-item--first">
                <div class="copy">
                    <span class="text-yellow">Craft Development</span> All rights reserved.
                    <a href="#" class="copy__link">Privacy policy</a>      
                </div>
            </div>
        </div>
    </div>
</footer>
{% include "partials/_modal.html" %}

