<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button id="btn-close" type="button" class="btn btn--close"></button>
            <form>
                <div class="modal-header">
                    <b class="modal-header__title">Leave message</b>
                    <span class="modal-header__text">and we will definitely answer you</span>
                </div>
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="modal-form__item">
                            <div class="input-wrap">
                                <input class="form-input" placeholder="Name" type="text" />
                            </div>
                        </div>
                        <div class="modal-form__item">
                            <div class="input-wrap">
                                <input class="form-input not-valid" placeholder="E-mail" type="email" required/>
                                <div class="invalid-feedback">Error: Your email address is invalid</div>
                            </div>
                        </div>
                        <div class="modal-form__item">
                            <div class="input-wrap">
                                <textarea class="form-input" placeholder="Your message" name="" id=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn--block btn--transition btn--light">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>